workflows/AdvancedMulti-ChannelCustomerEngagementPipeline/K0oFvBzuYcFL4rKC-Advanced_Multi_Channel_Customer_Engagement_Pipeline.json
{
  "name": "Advanced Multi-Channel Customer Engagement Pipeline",
  "nodes": [
    {
      "parameters": {
        "path": "customer-intake",
        "options": {}
      },
      "id": "12d85828-329a-4398-90dc-2373d97195c3",
      "name": "Webhook - Customer Form Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -816,
        272
      ],
      "webhookId": "customer-intake"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "b61285ad-94da-4702-8ca5-1656164903c6",
      "name": "Schedule - Daily Reports",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -816,
        464
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "7c18d6cd-45db-47af-a7ec-5f1259984179",
      "name": "Google Sheets - Read Customer Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -816,
        672
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.customer_type}}",
              "operation": "equals",
              "value2": "premium"
            }
          ],
          "number": [
            {
              "value1": "={{$json.lifetime_value}}",
              "operation": "larger",
              "value2": 5000
            }
          ]
        }
      },
      "id": "dcf004bb-ad90-4690-8c44-25b55be8a700",
      "name": "IF - Premium Customer Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -608,
        272
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT u.*, o.total_orders, o.total_spent FROM users u LEFT JOIN (SELECT user_id, COUNT(*) as total_orders, SUM(amount) as total_spent FROM orders GROUP BY user_id) o ON u.id = o.user_id WHERE u.email = '{{$json.email}}'",
        "options": {}
      },
      "id": "d4eb0e3d-b188-4227-88d0-05a2f8634299",
      "name": "PostgreSQL - Fetch User History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -384,
        160
      ]
    },
    {
      "parameters": {
        "url": "https://api.clearbit.com/v2/companies/find",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "1cb82036-41c2-4466-94ef-3291dc1ff89e",
      "name": "HTTP Request - Clearbit Enrichment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -384,
        320
      ]
    },
    {
      "parameters": {
        "operation": "create"
      },
      "id": "e1fa0377-b5da-4488-9163-bfdbb414614d",
      "name": "HubSpot - Create/Update Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [
        -160,
        160
      ]
    },
    {
      "parameters": {},
      "id": "f3b1e1f6-b917-4016-941e-45861979f3bb",
      "name": "SendGrid - Premium Welcome Email",
      "type": "n8n-nodes-base.sendgrid",
      "typeVersion": 1,
      "position": [
        528,
        -160
      ]
    },
    {
      "parameters": {
        "text": "🌟 New Premium Customer Alert!\n\nName: {{$json.first_name}} {{$json.last_name}}\nEmail: {{$json.email}}\nLTV: ${{$json.lifetime_value}}\nCompany: {{$json.company_name}}",
        "otherOptions": {}
      },
      "id": "5860590e-6427-47f7-b21a-fdce66d4847d",
      "name": "Slack - Notify Sales Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        64,
        160
      ],
      "webhookId": "0e509943-01b3-4596-b809-2af27c6783d8"
    },
    {
      "parameters": {
        "workspace": "{{$env.ASANA_WORKSPACE_ID}}",
        "name": "Follow up with {{$json.first_name}} {{$json.last_name}}",
        "otherProperties": {}
      },
      "id": "7f3b64c2-c88a-4439-901e-3131fac35240",
      "name": "Asana - Create Follow-up Task",
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        64,
        272
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.customer_type}}",
              "operation": "equals",
              "value2": "standard"
            }
          ]
        }
      },
      "id": "a6e8c331-619d-43b2-a764-8216137f719a",
      "name": "IF - Standard Customer Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -608,
        464
      ]
    },
    {
      "parameters": {},
      "id": "8d4e4d96-a58f-4aee-810e-199a99e0d48a",
      "name": "SendGrid - Standard Welcome Email",
      "type": "n8n-nodes-base.sendgrid",
      "typeVersion": 1,
      "position": [
        -384,
        464
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "id": "7850cddb-6482-4b1e-a8cd-ca1b8b3a85c2",
      "name": "Google Sheets - Log Standard Lead",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [
        -160,
        464
      ]
    },
    {
      "parameters": {
        "functionCode": "const customerData = items[0].json;\nconst enrichmentData = items[1].json;\n\nconst merged = {\n\t...customerData,\n\tcompany_name: enrichmentData.name || 'Unknown',\n\tcompany_size: enrichmentData.metrics?.employees || 0,\n\tcompany_industry: enrichmentData.category?.industry || 'Unknown',\n\tcompany_location: enrichmentData.geo?.city || 'Unknown',\n\tenriched_at: new Date().toISOString(),\n\tenrichment_score: Math.floor(Math.random() * 100)\n};\n\nreturn [{ json: merged }];"
      },
      "id": "55663dbe-0edf-474e-849c-62f01debf6e2",
      "name": "Function - Merge Customer Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -160,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst enrichedItems = items.map(item => {\n\tconst data = item.json;\n\t\n\t// Calculate customer score\n\tlet score = 0;\n\tif (data.total_orders > 10) score += 30;\n\tif (data.total_spent > 1000) score += 40;\n\tif (data.company_size > 50) score += 20;\n\tif (data.engagement_rate > 0.7) score += 10;\n\t\n\t// Determine segment\n\tlet segment = 'low';\n\tif (score > 70) segment = 'high';\n\telse if (score > 40) segment = 'medium';\n\t\n\treturn {\n\t\tjson: {\n\t\t\t...data,\n\t\t\tcustomer_score: score,\n\t\t\tcustomer_segment: segment,\n\t\t\tprocessed_at: new Date().toISOString()\n\t\t}\n\t};\n});\n\nreturn enrichedItems;"
      },
      "id": "c29294b7-05de-40b9-99f3-36160eb18db2",
      "name": "Code - Calculate Customer Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        368
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "search",
        "options": {}
      },
      "id": "026dc0f9-8bf9-4ebf-9a5e-e0a19b14dae6",
      "name": "Notion - Check Existing Record",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        -384,
        624
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.results.length}}",
              "operation": "equal"
            }
          ]
        }
      },
      "id": "e6822312-c489-4c43-83c1-797b35731959",
      "name": "IF - New Customer in Notion",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        624
      ]
    },
    {
      "parameters": {
        "pageId": "{{$env.NOTION_DATABASE_ID}}",
        "simple": false,
        "options": {}
      },
      "id": "6bd82606-2c97-4dd3-8a49-1a7cc7f0cb95",
      "name": "Notion - Create Customer Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        64,
        624
      ]
    },
    {
      "parameters": {
        "resource": "event"
      },
      "id": "968b6687-a7fa-41ab-a2a4-6f21bdff29be",
      "name": "Segment - Track Event",
      "type": "n8n-nodes-base.segment",
      "typeVersion": 1,
      "position": [
        288,
        272
      ]
    },
    {
      "parameters": {
        "url": "https://api.stripe.com/v1/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "dfb3a6e3-dffb-4626-ba7b-a7fcd9693f4b",
      "name": "HTTP Request - Create Stripe Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        288,
        160
      ]
    },
    {
      "parameters": {
        "list": "={{$env.MAILCHIMP_LIST_ID}}",
        "email": "={{$json.email}}",
        "options": {}
      },
      "id": "b4eaf757-1831-4398-a18b-657a707231e2",
      "name": "Mailchimp - Add to List",
      "type": "n8n-nodes-base.mailchimp",
      "typeVersion": 1,
      "position": [
        288,
        64
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "ed85c38e-1dde-46ff-ab34-51cf4fb90cce",
      "name": "Merge - Combine Data Sources",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        -160,
        768
      ]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "0270d2fb-7700-4a01-8e83-f36d67b0e0b2",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -608,
        672
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "efc54d59-18cc-43fa-b73b-b3bf5eca5942",
      "name": "Wait - Rate Limiting",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -384,
        768
      ],
      "webhookId": "0c7a5b60-eccf-4b93-8f6d-bb49428fbc45"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C12345678",
          "mode": "id"
        },
        "text": "Processing batch {{$json.batchNumber}} of {{$json.totalBatches}}",
        "otherOptions": {}
      },
      "id": "24a34bd2-143d-4f52-966e-e5effad4b912",
      "name": "Slack - Progress Updates",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        -384,
        864
      ],
      "webhookId": "0592c6fe-1bc2-4863-91ac-9664b97d2017"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.email}}",
              "operation": "regex",
              "value2": "^[a-zA-Z0-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$"
            }
          ],
          "boolean": [
            {
              "value1": "={{$json.gdpr_consent}}",
              "value2": true
            }
          ]
        }
      },
      "id": "7aa31cda-972e-43ca-98b7-10ef58d8df29",
      "name": "IF - Validate Data Quality",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -608,
        864
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "2e0f25ee-b4fb-407d-8bd1-487ba70ab92f",
      "name": "Aggregate - Calculate Totals",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        64,
        768
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "lifetime_value",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "id": "76688751-775b-4b48-8e03-ddabad811608",
      "name": "Sort - By Lifetime Value",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -160,
        960
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "tags",
        "options": {}
      },
      "id": "7c0fa582-7027-4506-9482-4226356fde33",
      "name": "Item Lists - Split Tags",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        64,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.intercom.io/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "role",
              "value": "user"
            },
            {
              "name": "email",
              "value": "={{$json.email}}"
            },
            {
              "name": "name",
              "value": "={{$json.first_name}} {{$json.last_name}}"
            },
            {
              "name": "custom_attributes",
              "value": "={\"customer_type\": \"{{$json.customer_type}}\", \"ltv\": {{$json.lifetime_value}}}"
            }
          ]
        },
        "options": {}
      },
      "id": "56bceb33-55a0-4f6a-8361-d06a4c1760f1",
      "name": "HTTP Request - Create Intercom Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        288,
        368
      ]
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "start": "={{DateTime.now().plus({days: 7}).toISO()}}",
        "end": "={{DateTime.now().plus({days: 7, hours: 1}).toISO()}}",
        "additionalFields": {
          "attendees": "={{$json.email}},{{$json.account_manager_email}}",
          "sendUpdates": "all"
        }
      },
      "id": "2196b7ca-dfe8-47f9-970f-3dc48e6ddcc5",
      "name": "Google Calendar - Schedule Onboarding",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        512,
        160
      ]
    },
    {
      "parameters": {
        "operation": "uploadFile"
      },
      "id": "f676f2a6-0484-410e-a084-abfcedf8727d",
      "name": "Google Drive - Backup Customer Data",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        512,
        272
      ]
    },
    {
      "parameters": {
        "workflowId": "={{$env.DOWNSTREAM_WORKFLOW_ID}}",
        "options": {}
      },
      "id": "a0612f32-6bdf-4cc8-9e5d-16d55d1f1c38",
      "name": "Execute Workflow - Trigger Follow-up",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        512,
        368
      ]
    },
    {
      "parameters": {
        "content": "## Premium Customer Path\nHandles high-value customers with:\n- CRM integration\n- Personal outreach\n- Calendar scheduling\n- Priority support setup",
        "height": 464,
        "width": 326
      },
      "id": "6aa560c1-09cd-4f64-aa74-064852417216",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -32,
        -96
      ]
    },
    {
      "parameters": {
        "content": "## Data Enrichment Layer\nEnhances customer data with:\n- Company information\n- Database history\n- Scoring algorithms\n- Segmentation logic",
        "height": 328,
        "width": 274
      },
      "id": "70d2de3b-0650-4c9b-9ca7-c9ff90a18b5f",
      "name": "Sticky Note 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -448,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.customer_segment}}",
              "operation": "equals",
              "value2": "high"
            }
          ]
        }
      },
      "id": "29c2b8cf-6b27-46d6-992c-8b58bac72c1f",
      "name": "IF - High Value Segment (Video Trigger)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        288,
        464
      ]
    },
    {
      "parameters": {},
      "id": "6e595dd5-77c2-40a7-9f34-6ae01aff367f",
      "name": "HeyGen - Generate Premium Video",
      "type": "n8n-nodes-community.heygen",
      "typeVersion": 1,
      "position": [
        512,
        464
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "338e3ea3-68ed-4b5f-8baa-ae92a79f71a3",
      "name": "Wait - For Video Generation",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        720,
        464
      ],
      "webhookId": "a3cdd171-dfaf-45a2-953b-af7ac5ae16ef"
    },
    {
      "parameters": {},
      "id": "3713a896-f956-44a8-8015-61664e92a577",
      "name": "TikTok - Post Welcome Video",
      "type": "n8n-nodes-community.tiktok",
      "typeVersion": 1,
      "position": [
        944,
        464
      ]
    }
  ],
  "connections": {
    "Webhook - Customer Form Submit": {
      "main": [
        [
          {
            "node": "IF - Premium Customer Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule - Daily Reports": {
      "main": [
        [
          {
            "node": "IF - Standard Customer Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Read Customer Data": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Premium Customer Check": {
      "main": [
        [
          {
            "node": "PostgreSQL - Fetch User History",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request - Clearbit Enrichment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF - Standard Customer Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostgreSQL - Fetch User History": {
      "main": [
        [
          {
            "node": "HubSpot - Create/Update Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Clearbit Enrichment": {
      "main": [
        [
          {
            "node": "Function - Merge Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot - Create/Update Contact": {
      "main": [
        [
          {
            "node": "Slack - Notify Sales Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Asana - Create Follow-up Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Notify Sales Team": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Stripe Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asana - Create Follow-up Task": {
      "main": [
        [
          {
            "node": "Segment - Track Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function - Merge Customer Data": {
      "main": [
        [
          {
            "node": "Code - Calculate Customer Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Calculate Customer Score": {
      "main": [
        [
          {
            "node": "HTTP Request - Create Intercom Contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF - High Value Segment (Video Trigger)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion - Check Existing Record": {
      "main": [
        [
          {
            "node": "IF - New Customer in Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - New Customer in Notion": {
      "main": [
        [
          {
            "node": "Notion - Create Customer Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Stripe Customer": {
      "main": [
        [
          {
            "node": "Google Calendar - Schedule Onboarding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mailchimp - Add to List": {
      "main": [
        [
          {
            "node": "Notion - Check Existing Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Segment - Track Event": {
      "main": [
        [
          {
            "node": "Google Drive - Backup Customer Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [
          {
            "node": "Wait - Rate Limiting",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF - Validate Data Quality",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Rate Limiting": {
      "main": [
        [
          {
            "node": "Merge - Combine Data Sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Progress Updates": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Validate Data Quality": {
      "main": [
        [
          {
            "node": "Slack - Progress Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Combine Data Sources": {
      "main": [
        [
          {
            "node": "Aggregate - Calculate Totals",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sort - By Lifetime Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate - Calculate Totals": {
      "main": [
        [
          {
            "node": "Google Sheets - Log Standard Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort - By Lifetime Value": {
      "main": [
        [
          {
            "node": "Item Lists - Split Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists - Split Tags": {
      "main": [
        [
          {
            "node": "Notion - Check Existing Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Create Intercom Contact": {
      "main": [
        [
          {
            "node": "Execute Workflow - Trigger Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Schedule Onboarding": {
      "main": [
        [
          {
            "node": "Execute Workflow - Trigger Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Backup Customer Data": {
      "main": [
        [
          {
            "node": "Execute Workflow - Trigger Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}