workflows/CompleteSDRLeadCaptureQualificationAgent/dRmCw9Qzl96reNL2-Complete_SDR_Lead_Capture_Qualification_Agent.json
{
  "name": "Complete SDR Lead Capture & Qualification Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a97f15cb-ccc6-4032-889a-5e189416db8d",
      "name": "Multi-Channel Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1408,
        208
      ],
      "webhookId": "lead-capture-webhook",
      "notes": "Receives leads from: Website forms, WhatsApp, Email, LinkedIn, Chat widgets"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=Thank you {{ $json.body.name }}! We've received your inquiry and will respond within 5 minutes.",
        "options": {
          "responseCode": 200
        }
      },
      "id": "4d72c901-d753-438d-adbd-02851632d64e",
      "name": "Instant Response to Lead",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -1200,
        208
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": "Leads"
      },
      "id": "0fc5ad36-a386-47b7-91a0-9104cc2ec078",
      "name": "Store Lead in Airtable CRM",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -1008,
        208
      ],
      "notes": "Creates lead record with unique ID. Replace appXXXXXX with your Airtable base ID"
    },
    {
      "parameters": {
        "resource": "chat"
      },
      "id": "a540dc24-b342-4825-b61f-3b19cfcffbaa",
      "name": "AI Lead Qualification Agent",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        -800,
        208
      ],
      "notes": "GPT-4 analyzes lead quality, urgency, and fit. Uses low temperature for consistent scoring."
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response into structured data\nconst aiResponse = $input.item.json.message.content;\n\n// Extract fields using regex\nconst tierMatch = aiResponse.match(/Budget tier:\\s*(\\w+(?:\\s+\\w+)?)/i);\nconst urgencyMatch = aiResponse.match(/Urgency:\\s*(\\w+)/i);\nconst scoreMatch = aiResponse.match(/Qualification score:\\s*(\\d+)/i);\nconst actionMatch = aiResponse.match(/Next best action:\\s*(.+?)(?:\\n|$)/i);\nconst reasoningMatch = aiResponse.match(/Reasoning:\\s*(.+)/is);\n\n// Get lead data from previous node\nconst leadData = $('Store Lead in Airtable CRM').item.json.fields;\n\nreturn {\n  leadId: leadData.fldLeadID,\n  recordId: $('Store Lead in Airtable CRM').item.json.id,\n  name: leadData.fldName,\n  email: leadData.fldEmail,\n  phone: leadData.fldPhone,\n  company: leadData.fldCompany,\n  message: leadData.fldMessage,\n  source: leadData.fldSource,\n  tier: tierMatch ? tierMatch[1].trim() : 'Unknown',\n  urgency: urgencyMatch ? urgencyMatch[1].trim() : 'Unknown',\n  score: scoreMatch ? parseInt(scoreMatch[1]) : 5,\n  nextAction: actionMatch ? actionMatch[1].trim() : 'Manual review',\n  reasoning: reasoningMatch ? reasoningMatch[1].trim() : 'Analysis incomplete',\n  aiFullResponse: aiResponse,\n  analyzedAt: new Date().toISOString()\n};"
      },
      "id": "60d0efeb-278d-4979-9ec5-b3612e6eb3ef",
      "name": "Parse AI Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        208
      ],
      "notes": "Extracts structured data from AI response for routing logic"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": "Leads",
        "options": {}
      },
      "id": "aac091ae-f65b-49d7-9c5d-af08c8ccbaf2",
      "name": "Update Lead with AI Insights",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -400,
        208
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "2afa7eef-8198-448a-90ba-110bab830c58",
      "name": "Route by Qualification Score",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -208,
        208
      ],
      "notes": "Hot: 8-10, Warm: 5-7, Cold: 1-4"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cal.com/v1/bookings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "eventTypeId",
              "value": "12345"
            },
            {
              "name": "name",
              "value": "={{ $json.name }}"
            },
            {
              "name": "email",
              "value": "={{ $json.email }}"
            },
            {
              "name": "metadata",
              "value": "={{ { \"tier\": $json.tier, \"score\": $json.score, \"leadId\": $json.leadId } }}"
            },
            {
              "name": "timeZone",
              "value": "America/Toronto"
            }
          ]
        },
        "options": {}
      },
      "id": "0c2d1981-24b6-4aa2-9cde-6da570aebcc8",
      "name": "HOT LEAD → Auto-Book Discovery Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        0
      ],
      "notes": "Books call immediately for hot leads (score 8-10). Replace eventTypeId with your Cal.com event ID"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": "Leads",
        "options": {}
      },
      "id": "f8f859cb-45f4-4974-9abc-7bb4b90f68e2",
      "name": "Update Status: Call Booked",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "fromEmail": "hello@yourcompany.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Let's talk! Your discovery call is confirmed 🚀",
        "emailFormat": "html",
        "options": {}
      },
      "id": "752f5840-4dd4-4c47-b186-e5d22eef0f7c",
      "name": "Send Hot Lead Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "webhookId": "66eefda2-629c-472d-b44e-28b9b21353fb",
      "notes": "Personalized email confirming call booking"
    },
    {
      "parameters": {
        "fromEmail": "hello@yourcompany.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Quick question about {{ $json.company || 'your business' }}",
        "emailFormat": "html",
        "options": {}
      },
      "id": "d36168cf-f36b-4b04-8de9-e18d5fd56b90",
      "name": "WARM LEAD → Nurture Sequence",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "webhookId": "bbef86cc-55cc-4c1c-ac65-743e39aed66c",
      "notes": "Engages warm leads (score 5-7) with educational content"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": "Leads",
        "options": {}
      },
      "id": "3442dfc6-15f4-4c8a-9630-7b1b369e102c",
      "name": "Update Status: Nurturing",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        208,
        208
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": "Leads",
        "options": {}
      },
      "id": "30b4456e-00d8-401d-859b-f5242707b1b6",
      "name": "COLD LEAD → Archive with Nurture",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        0,
        400
      ],
      "notes": "Adds cold leads (score 1-4) to long-term nurture sequence"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C12345ABCDE",
          "mode": "id"
        },
        "text": "=🔥 *HOT LEAD ALERT*\n\n*Name:* {{ $json.name }}\n*Company:* {{ $json.company || 'Not provided' }}\n*Tier:* {{ $json.tier }}\n*Score:* {{ $json.score }}/10\n*Urgency:* {{ $json.urgency }}\n\n*Message:*\n{{ $json.message }}\n\n*Next Action:* {{ $json.nextAction }}\n\n*AI Analysis:* {{ $json.reasoning }}\n\n*Status:* Call auto-booked ✅\n\n<airtable-link-to-lead>",
        "otherOptions": {}
      },
      "id": "b20160f4-2197-4c67-bf78-98ed164a3db9",
      "name": "Notify Team: Hot Lead",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        400,
        112
      ],
      "webhookId": "4bfda518-87ff-4781-8640-e17005594457",
      "notes": "Alerts team in #new-leads channel. Replace C12345ABCDE with your channel ID"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C12345ABCDE",
          "mode": "id"
        },
        "text": "=📊 *New Lead - Warm*\n\n*Name:* {{ $json.name }}\n*Company:* {{ $json.company || 'Not provided' }}\n*Tier:* {{ $json.tier }}\n*Score:* {{ $json.score }}/10\n\n*Status:* Nurture sequence started\n*Follow-up:* {{ $now.plus({ days: 3 }).toFormat('MMM dd, yyyy') }}",
        "otherOptions": {}
      },
      "id": "c14d902f-6b1f-4bd5-a9fa-d7d28de3e93d",
      "name": "Notify Team: Warm Lead",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        400,
        208
      ],
      "webhookId": "8265bf64-1c08-4c94-9895-72234d872e05"
    }
  ],
  "connections": {
    "Multi-Channel Lead Webhook": {
      "main": [
        [
          {
            "node": "Instant Response to Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instant Response to Lead": {
      "main": [
        [
          {
            "node": "Store Lead in Airtable CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Lead in Airtable CRM": {
      "main": [
        [
          {
            "node": "AI Lead Qualification Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Lead Qualification Agent": {
      "main": [
        [
          {
            "node": "Parse AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Analysis": {
      "main": [
        [
          {
            "node": "Update Lead with AI Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead with AI Insights": {
      "main": [
        [
          {
            "node": "Route by Qualification Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Qualification Score": {
      "main": [
        [
          {
            "node": "HOT LEAD → Auto-Book Discovery Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HOT LEAD → Auto-Book Discovery Call": {
      "main": [
        [
          {
            "node": "Update Status: Call Booked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Call Booked": {
      "main": [
        [
          {
            "node": "Send Hot Lead Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Team: Hot Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WARM LEAD → Nurture Sequence": {
      "main": [
        [
          {
            "node": "Update Status: Nurturing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status: Nurturing": {
      "main": [
        [
          {
            "node": "Notify Team: Warm Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": null
}